<div class="flash-container">
    @if (TempData["SuccessMessage"] is string successMessage)
    {
        <div class="alert alert-success flash-message">
            @successMessage
        </div>
    }
    
    else if (TempData["ErrorMessage"] is string errorMessage)
    {
        <div class="alert alert-danger flash-message">
            @errorMessage
        </div>
    }
</div>